<div class="container">
    <div class="card text-center  jumbotron">
        <div class="row">
            <div class="col-sm-6 clrclass">
                <div class="container">
                    <div class="card text-center">
                        <div class="card-body">
                            <!-- <h5 class="card-title">LOGIN</h5>-->
                            <div class="row">
                                <div class="col-sm-6 clrclass">
                                    <a href="admin/login" class="btn btn-dark btn-lg btn-block"><i class="fa fa-sign-in"></i>Admin Login</a>
                                </div>
                                <div class="col-sm-6 clrclass">
                                    <a href="admin/signup" class="btn btn-dark btn-lg btn-block"><i class="fa fa-sign-in"></i>Admin Signup
                                    </a>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

</div>