<div class="sidenav">
  <div class="login-main-text">
    <h2>Student Registration Page</h2>
    <p>Register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form method="POST" action="/student/forgotPassword">
        
        
        
        
        <div class="form-group">
          <label>EMAIL</label>
          <input type="text" class="form-control" placeholder="Enter Email" name="email">
        </div>
        
        
        
       

        <button type="submit" style="color:#f7f7f7;" class="btn btn-black btn-lg btn-block"
          name="button">Submit</button>
      </form>
    </div>
  </div>
</div>